@model List<IOC.Model.Noticia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Index</h2>
<h3>
    Notícias</h3>
<p>
    
    <input type="button" onclick="javascript:window.location.href='@Url.Content("~/Home/Item")'" value="Nova noticia"
        style="width: 100px; height: 22px" />
</p>
<div>
    <img src="/Photo/Thumb?filename=/content/img/Koala.jpg&width=320" alt="Alternate Text" />
    <img src="/Photo/Thumb?filename=/content/img/Koala111.jpg&width=320" alt="Alternate Text" />

    <table border="0" cellpadding="0" cellspacing="2" class="tblListar">
        <thead>
            <tr>
                <th class="txt_titulo">
                    Id
                </th>
                <th class="txt_titulo">
                    Titulo
                </th>
                <th class="txt_titulo">
                    Editar
                </th>
                <th class="txt_titulo">
                    Excluir
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<IOC.Model.Noticia> listNoticia = this.Model;

                if (listNoticia == null)
                {
                    return;
                }

                foreach (var i in listNoticia)
                {
                <tr>
                    <td class="td_id">
                        @i.IdNoticia
                    </td>
                    <td class="td_item">
                        @i.Titulo
                    </td>
                    <td class="editar">
                        <p>
                            @Html.ActionLink("Editar", "Item", new { id = i.IdNoticia })
                        </p>
                    </td>
                    <td class="td_bt_excluir">  
                        @{
                            string delete = string.Format("newsDelete({0})", i.IdNoticia);
                        }
                        @Html.ActionLink(
                            "X", 
                            "Delete", 
                            new { id = i.IdNoticia },
                            new { 
                                    @class = "bt_excluir", 
                                    onclick = string.Format("return confirm('Deseja realmente excluir este item de id: {0}?');", i.IdNoticia) 
                                }
                        )
                    </td>
                </tr>      
                }
            }
        </tbody>
    </table>
</div>
