@model IOC.Model.News
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Item", "Home", FormMethod.Post))
{
    <h3>Edição de notícias</h3>
    
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    
    <p>
        @Html.LabelFor(Model => Model.Title)
        @Html.EditorFor(Model => Model.Title, null, "title")
	</p>
	<p>
        @Html.LabelFor(Model => Model.NewsDescription)
        @Html.EditorFor(Model => Model.NewsDescription, null, "description")
	</p>	
    <p>
        @Html.LabelFor(Model => Model.NewsDate)
        @Html.EditorFor(Model => Model.NewsDate, null, "date")
	</p>
	<p>
        @Html.LabelFor(Model => Model.Author)
        @Html.EditorFor(Model => Model.Author, null, "author")
	</p>

	<p class="botoes">
		<input type="button" value="Cancelar" onclick="javascript:window.location.href = '@Url.Content("~/Home/Index")'" />
		<input type="submit" value="Salvar" />		
	</p>
}